body {
  background-image: url("../img/mapa\ maceio@300x\ 1.png");
  margin: 0;
  padding: 0;
  font-family: "Source Sans 3", sans-serif;
  width: 100%;
}

@font-face {
  font-family: "Bronkoh";
  src: url("../fonts/Bronkoh-Heavy.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
 .content .left-content{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 30%;
  
}

.content .right-content{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 70%;
}
.content{
  padding: 40px 0px;
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
  padding: 40px 0;
}
.cronograma {
  display: flex;
  width: 100%;
  height: 800px;
  flex-direction: column;
  background-color: white;
  background-image: url(../img/Ativo\ 1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
}

.cronograma .textos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: 100%;
  padding-bottom: 100px;
}

.cronograma .textos h3,
p {
  margin: 0;
  padding: 0;
}

.cronograma .textos .titulo {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  position: relative;
  top: 210px;}

.cronograma .textos .descricao {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  flex-wrap: nowrap;
  color: #666666;
  gap: 10px;
  margin-left: 200px;
  position: relative;
  top: 210px;
}

.cronograma .textos h2 {
  width: 80px;
  font-family: "Bronkoh", sans-serif;
  font-size: 70px;
  color: #00a099;
  margin-left: 130px;
}

.descricao h3 {
  font-family: sans-serif;
  font-weight: 800;
  font-size: 24px;
}

.descricao p {
  width: 400px;
  font-size: 18px;
  font-weight: 500;
}

.timeline {
    padding: 40px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.circulos{
  gap: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.circle {
  z-index: 1;
  display: flex;
  background: #00a099;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  z-index: 3;
}

.center-line{
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

}


#Active-Circle {
  width: 200px;
  height: 200px;
  background-image: url(../img/Ativo\ 3.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

  #Active-Circle:hover {
    background-color: #f19100;
  }

  .timeline .years{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 50%;
    position: relative;
    
  }

  .years p{
    width: 80px;
    font-family: "Bronkoh", sans-serif;
    font-size: 30px;
    color: #00a099;
  }

  .linha-horizontal{
    display: flex;
    width: 100%;
    height: 10px;
    background-color: #92c01f;
    z-index: 2;
    position: absolute;
    top: 1410px;
  }

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.bolinhas {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3498db;
  cursor: pointer;
  transition: transform 0.2s; 
  
  
}
.bolinhas:hover {
  transform: scale(1.4);
  background-color: #f19100;
}

.bolinhas.large {
  transform: scale(1.2);
}

.bolinhas.selected {
  border: 2px solid #ff0000; /* Adicionamos uma borda vermelha para indicar a seleção */
}


#texto {
    margin-top: 20px;
    font-size: 18px;
}
